@tailwind components;

@layer components {
    .maximised-hero-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .maximised-hero-no-vote {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .maximised-hero-vote-content {
        display: flex;
        align-self: center;
    }
    .maximised-grid-container {
        display: grid;
        grid-template-columns: 1fr; /* 3 columns */
        row-gap: 4px; /* ✅ Controls vertical spacing */
        position: relative;
        width: 250px;
    }
    .maximised-grid-item {
        border: 1px solid #444; /* Optional border for card */
        border-radius: 4px; /* Optional rounded corners */
        text-align: center;
        border-radius: 5px;
        height: 28px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .maximised-hero-vote-result-item {
        display: grid;
        grid-template-columns: 30px 100px 1fr;
        gap: 1rem; /* optional spacing between columns */
        padding: 8px;
        align-items: center;
    }
}