.vote-manager-container {
    display: flex;
    flex-direction: column;
}

.vote-duration-input {
    width: 250px;
    height: 56px;
    text-align: center;
}

.vote-duration-button {
    width: 250px;
    border: 2px solid #ccc;
    padding: 8px 16px;
    border-radius: 4px;
}