@tailwind components;
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-dota-tab-background rounded-lg min-h-12 w-2;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-dota-scrollbar-hover;
}

@layer components {
    .item-list-container {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: 8px; /* Add spacing between cards */
        max-height: 400px; /* Set a height for scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        padding-left: 16px;
        padding-right: 8px;
        box-sizing: border-box; /* Include padding in the container's total width/height */
        margin-top: 16px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
}